<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        ">
        <!-- 扫描数据源 -->
        <context:property-placeholder location="classpath:database.properties"/>
        <!-- 配置数据源 -->
        <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${jdbc.driver}"></property>
        <property name="jdbcUrl" value="${jdbc.url}"></property>
        <property name="user" value="${jdbc.username}"></property>
        <property name="password" value="${jdbc.password}"></property>
        
        </bean>
        <!-- 配置sqlsessionFactoryBean -->
        <bean id="sqlsession" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!-- 引用数据源组件 -->
        <property name="dataSource" ref="dataSource"></property>
        <!-- 配置别名 -->
        <property name="typeAliasesPackage" value="com.group5.entity"></property>
        <!-- 配置sql映射文件 -->
        <property name="mapperLocations">
        <value>classpath:com/group5/mapping/*.xml</value>
        
        </property>
 
        </bean>
        <!-- 使用MapperScannerConfigurer扫描指定包中的接口，并直接注册为mapperFactoryBean -->
        <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.group5.dao"></property>
     
        </bean>
        <!-- 配置注解扫描biz -->
        <context:component-scan base-package="com.group5.biz.impl"></context:component-scan>
        <!-- 配置事务 -->
        <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"></property>
        
        </bean>
        <!-- 使用注解定义事务，【需要修改实现类】 -->
        <tx:annotation-driven transaction-manager="txManager"/>
        
        
        
        
        </beans>